{% extends 'base.html' %}

{% block title %}
Catalog
{% endblock %}

{% block tochen %}
   <h1> Welcome to catalog page </h1>
   <form action="/catalog" method="GET"> <!-- action is the page we want to get after submit the form-->
      Product: <input name="product" type="text">
      Size: <input name="size" type="text">
      <input type="submit"> <!-- once i click submit the url changes and a query parameters are added, no matter what page we arrived after submitting the form -->
   </form>

   {% if product %}
      <h3> You picked product: {{ product }} </h3>
   {% endif %}

   {% if size %}
      <h3> You picked size: {{ size }} </h3>
   {% endif %}
{% endblock %}
